<div class="container-dashboard-section p-4 dark:bg-gray-800">
    
    <div class="flex justify-between items-center mb-4">
        <!-- <div class="p-2 flex w-full md:w-auto">
            <img class="border-2 border-blue-500 w-16 h-16 object-cover rounded-full mr-2"
                [src]="user?.avatar ? fileUrl + user.avatar : 'public/images/apps/avatars/default.png'" alt="avatar" />

            <div class="flex flex-col">
                <p class="text-xl md:text-lg">សូមស្វាគមន៍, {{user?.name}}</p>
                <p class="text-gray-500 text-sm md:text-base">
                    {{user?.role?.name}}
                </p>
            </div>
        </div> -->
        <div class="flex gap-3 mt-4 md:mt-0">
            <!-- <div [matMenuTriggerFor]="roomTypeButton"
                class="cursor-pointer flex items-center justify-center border-2 border-blue-300 rounded-xl w-auto h-auto transform transition-transform duration-50 ease-in-out dark:bg-gray-800 dark:hover:bg-gray-700">
                <span
                    class="text-sm md:text-xl sm:text-lg text-blue-400 dark:text-blue-300 text-center w-full px-4 py-2">
                    គ្រប់គ្រងបន្ទប់
                </span>
                <mat-menu #roomTypeButton="matMenu">
                    <button mat-menu-item *ngFor="let room of roomManagement; let i = index"
                        (click)="i===0? openFreeRoomDialog() : openMoveoutDialog()">
                        {{ room.name }}
                    </button>
                </mat-menu>
            </div>

            <div [matMenuTriggerFor]="paymentButton"
                class="cursor-pointer flex items-center justify-center border-2 border-blue-300 rounded-xl w-auto h-auto transform transition-transform duration-50 ease-in-out dark:bg-gray-800 dark:hover:bg-gray-700">
                <span
                    class="text-sm md:text-xl sm:text-lg text-blue-400 dark:text-blue-300 text-center w-full px-4 py-2">
                    ទូទាត់ប្រាក់
                </span>
                <mat-menu #paymentButton="matMenu">
                    <button mat-menu-item *ngFor="let pay of payment; let i = index"
                        (click)="i === 0 ? openInvoiceDialog() : openExpenseDialog()">
                        {{ pay.name }}
                    </button>
                </mat-menu>
            </div> -->

            <div [matMenuTriggerFor]="reportButton"
                class="cursor-pointer flex items-center justify-center border-2 border-blue-300 rounded-xl w-auto h-auto transform transition-transform duration-50 ease-in-out dark:bg-gray-800 dark:hover:bg-gray-700">
                <span
                    class="text-sm md:text-xl sm:text-lg text-blue-400 dark:text-blue-300 text-center w-full px-4 py-2">
                    របាយការណ៍
                </span>
                <mat-menu #reportButton="matMenu">
                    <button mat-menu-item *ngFor="let report of reportIncomeExpense; let i = index"
                        (click)="i===0? openIncomeReportDialog('') : openExportReportDialog()">
                        {{ report.name }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>



    <!-- <div class="grid grid-cols-3 md:grid-cols-3 grid-flow-col gap-4 ">
        <div class="md:col-span-1 md:h-[335px] md:w-full bg-white dark:bg-gray-900 rounded-xl col-span-5">
            <div class="w-full h-full rounded-xl px-8">
                <div class="flex items-center justify-between h-16">
                    <span class="text-gray-700 dark:text-slate-300 sm:text-lg md:text-xl text-sm font-semibold">
                        បន្ទប់
                    </span>
                </div>

                <div class="flex flex-col w-full h-auto gap-4">
                    <div class="flex w-full gap-4">
                        <div class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg">
                            <div
                                class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center bg-[#3B82F633] rounded-full">
                                <mat-icon class="icon-size-7 md:icon-size-8 text-blue-500" matSuffix
                                    svgIcon="mat_outline:door_front">
                                </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ roomStatisticsV2[0]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    ទាំងអស់
                                </span>
                            </div>
                        </div>

                        <div
                            class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg :bg-common-selectwhite">
                            <div
                            class="w-12 h-12 md:w-14 md:h-14 flex flex-col items-center justify-center rounded-full bg-orange-300/20">
                            <mat-icon class="icon-size-7 md:icon-size-8 text-orange-400" matSuffix
                                svgIcon="mdi:timer-sand">
                            </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ roomStatisticsV2[0]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    ទំនេរ
                                </span>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex items-center w-full h-[88px] rounded-[10px] gap-2 pl-3 justify-center bg-common-darkbg :bg-common-selectwhite">
                        <div

                            class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center rounded-full bg-green-600/20">
                                <mat-icon class="icon-size-7 md:icon-size-8 text-green-600" matSuffix
                                    svgIcon="mat_outline:check">
                                </mat-icon>
                        </div>
                        <span class="text-lg text-common-gray">
                            សកម្ម ៖
                            <span class="text-2xl font-medium text-black">
                                {{ roomStatisticsV2[1]?.count | number: '1.0-0'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="md:col-span-1 md:h-[335px] md:w-full bg-white dark:bg-gray-900 rounded-xl col-span-5">
            <div class="w-full h-full rounded-xl px-8">
                <div class="flex items-center justify-between h-16">
                    <span class="text-gray-700 dark:text-slate-300 sm:text-lg md:text-xl text-sm font-semibold">
                        ចំណូល
                    </span>
                </div>

                <div class="flex flex-col w-full h-auto gap-4" *ngIf="invoiceStatisticsV2">
                    <div class="flex w-full gap-4">
                        <div class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg">
                            <div
                                class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center bg-[#3B82F633] rounded-full">
                                <mat-icon class="icon-size-7 md:icon-size-8 text-blue-500" matSuffix
                                    svgIcon="heroicons_outline:currency-dollar">
                                    </mat-icon>

                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ invoiceStatisticsV2[0]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ invoiceStatisticsV2[0]?.status }}
                                </span>
                            </div>
                        </div>

                        <div
                            class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg :bg-common-selectwhite">
                            <div
                            class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center rounded-full bg-green-600/20">
                            <mat-icon class="icon-size-7 md:icon-size-8 text-green-600" matSuffix
                                svgIcon="mat_outline:check">
                            </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ invoiceStatisticsV2[1]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ invoiceStatisticsV2[1]?.status }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="flex w-full gap-4">
                        <div class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg">
                            <div
                            class="w-12 h-12 md:w-14 md:h-14 flex flex-col items-center justify-center rounded-full bg-orange-300/20">
                            <mat-icon class="icon-size-7 md:icon-size-8 text-orange-400" matSuffix
                                svgIcon="mdi:timer-sand">
                            </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ invoiceStatisticsV2[2]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ invoiceStatisticsV2[2]?.status }}
                                </span>
                            </div>
                        </div>

                        <div
                            class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg :bg-common-selectwhite">
                            <div
                                class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center rounded-full bg-red-500/20">
                                <mat-icon class="icon-size-7 md:icon-size-8 text-red-500" matSuffix
                                    svgIcon="heroicons_outline:exclamation-circle">
                                    </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ invoiceStatisticsV2[3]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ invoiceStatisticsV2[3]?.status }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="md:col-span-1 md:h-[335px] md:w-full bg-white dark:bg-gray-900 rounded-xl col-span-5">
            <div class="w-full h-full rounded-xl px-8">
                <div class="flex items-center justify-between h-16">
                    <span class="text-gray-700 dark:text-slate-300 sm:text-lg md:text-xl text-sm font-semibold">
                        ចំណាយ
                    </span>
                </div>

                <div class="flex flex-col w-full h-auto gap-4">
                    <div class="flex w-full gap-4">
                        <div class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg">
                            <div
                                class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center bg-[#3B82F633] rounded-full">
                                <mat-icon class="icon-size-7 md:icon-size-8 text-blue-500" matSuffix
                                    svgIcon="heroicons_outline:currency-dollar">
                                </mat-icon>

                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ expenseStatisticsV2[0]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{expenseStatisticsV2[0]?.status}}
                                </span>
                            </div>
                        </div>

                        <div
                            class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg :bg-common-selectwhite">
                            <div
                            class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center rounded-full bg-green-600/20">
                            <mat-icon class="icon-size-7 md:icon-size-8 text-green-600" matSuffix
                                svgIcon="mat_outline:check">
                            </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ expenseStatisticsV2[1]?.count | number: '1.0-0'}}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ expenseStatisticsV2[1]?.status }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="flex w-full gap-4">
                        <div class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg">
                            <div
                            class="w-12 h-12 md:w-14 md:h-14 flex flex-col items-center justify-center rounded-full bg-orange-300/20">
                            <mat-icon class="icon-size-7 md:icon-size-8 text-orange-400" matSuffix
                                svgIcon="mdi:timer-sand">
                            </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ expenseStatisticsV2[2]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ expenseStatisticsV2[2]?.status }}
                                </span>
                            </div>
                        </div>

                        <div
                            class="flex items-center w-1/2 h-[88px] rounded-[10px] gap-2 pl-3 bg-common-darkbg :bg-common-selectwhite">
                            <div
                            class="w-12 h-12 md:w-14 md:h-14 flex items-center justify-center rounded-full bg-red-500/20">
                            <mat-icon class="icon-size-7 md:icon-size-8 text-red-500" matSuffix
                                svgIcon="heroicons_outline:exclamation-circle">
                                </mat-icon>
                            </div>
                            <div class="flex flex-col">
                                <span class="text-2xl font-medium">
                                    {{ expenseStatisticsV2[3]?.count | number: '1.0-0' }}
                                </span>
                                <span class="text-lg text-common-gray">
                                    {{ expenseStatisticsV2[3]?.status }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <br /> -->

    <!-- <div class="flex flex-col gap-4">
        <div *ngIf="!isLoading && dataZoneColumns.data.length > 0"
            class="w-full overflow-auto px-8 py-3 rounded-xl bg-white dark:bg-gray-900">
            <div class="flex items-center justify-between h-16">
                <span class="text-gray-700 dark:text-slate-300 sm:text-lg md:text-xl text-sm font-semibold">
                    ស្ថិតិប្រតិបត្តិការ
                </span>

                <div class="flex">
                    <div class="p-3 flex items-center rounded-full"
                        [ngClass]="{'bg-slate-50 dark:bg-gray-700': listView, 'cursor-pointer': !listView}"
                        (click)="showListView()">
                        <mat-icon class="icon-size-6" svgIcon="mdi:format-list-bulleted"></mat-icon>
                    </div>

                    <div class="p-3 flex items-center rounded-full"
                        [ngClass]="{'bg-slate-50 dark:bg-gray-700': chartView, 'cursor-pointer': !chartView}"
                        (click)="showChartView()">
                        <mat-icon class="icon-size-6" svgIcon="mdi:chart-pie-outline"></mat-icon>
                    </div>

                    <div class="p-3 flex items-center rounded-full"
                        [ngClass]="{'bg-slate-50 dark:bg-gray-700': columnChartview, 'cursor-pointer': !columnChartview}"
                        (click)="showColumnChartView() ">
                        <mat-icon class="icon-size-6" svgIcon="mdi:chart-bar"></mat-icon>
                    </div>
                </div>
            </div>


            <cicle-chart *ngIf="chartView" [chartView]="chartView"></cicle-chart>
            <sup-bar-chart-zone *ngIf="columnChartview" [columnChartview]="columnChartview"></sup-bar-chart-zone>

            <table *ngIf="listView" mat-table [dataSource]="dataZoneColumns" class="w-full">

                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef class="w-[50px] text-center font-medium sticky ">ល.រ</th>
                    <td mat-cell *matCellDef="let element; let i = index"
                        class="text-[#64748B] font-normal text-center h-14">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="zone">
                    <th mat-header-cell *matHeaderCellDef class="flex-1 font-medium sticky ">តំបន់</th>
                    <td mat-cell *matCellDef="let element">{{ element?.zone?.name }}</td>
                </ng-container>

                <ng-container matColumnDef="progress_bar">
                    <th mat-header-cell *matHeaderCellDef class=" w-22 font-medium sticky "></th>
                    <td mat-cell *matCellDef="let element" class="text-gray-500 text-nowrap">
                        {{ element?.rooms[0]?.count || 0 }} / {{ element?.rooms[1]?.totalRooms || 0 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="room_status">
                    <th mat-header-cell *matHeaderCellDef class=" w-60 font-medium sticky ">ស្ថានភាព</th>

                    <td mat-cell *matCellDef="let element">
                        <mat-progress-bar mode="determinate" [value]="element?.rooms[0]?.percent" [ngClass]="{
                            'progress-bar-red': element?.rooms[0]?.percent < 50,
                            'progress-bar-orange': element?.rooms[0]?.percent >= 50 && element?.rooms[0]?.percent < 80,
                            'progress-bar-green': element?.rooms[0]?.percent >= 80
                          }">
                        </mat-progress-bar>
                    </td>

                </ng-container>


                <ng-container matColumnDef="priceNotPaid">
                    <th mat-header-cell *matHeaderCellDef class="w-[120px] font-medium sticky text-nowrap  text-right">
                        ទឹកប្រាក់មិនទាន់ទូទាត់</th>

                    <td mat-cell *matCellDef="let element" class="text-right text-[#64748B] ">{{
                        element?.prices?.totalPriceUSDUnpaidAmount | number }} $</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="w-[160px] font-medium sticky "></th>
                    <td mat-cell *matCellDef="let element" class="text-center ">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openFreeRoomDialog(element?.zone)">
                                <mat-icon svgIcon="mat_outline:door_front"></mat-icon>
                                <span class="text-lg">បន្ទប់ទំនេរ</span>
                            </button>
                            <button mat-menu-item (click)="openInvoiceDialog(element?.zone)">
                                <mat-icon svgIcon="mdi:invoice-list-outline">
                                </mat-icon>
                                <span class="text-lg">
                                    វិក្កយបត្រ
                                </span>
                            </button>
                            <button mat-menu-item (click)="getZoneInfoforInvoice(element?.zone?.id)">
                                <mat-icon svgIcon="mat_outline:add">
                                </mat-icon>
                                <span class="text-lg">
                                    បង្កើតវិក្កយបត្រ
                                </span>
                            </button>
                            <button mat-menu-item (click)="openIncomeReportDialog(element)">
                                <mat-icon svgIcon="mat_solid:trending_up">
                                </mat-icon>
                                <span class="text-lg">ចំណូល</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="zoneColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: zoneColumns; let i = index" [ngClass]="{
                        'bg-[#F8FAFC] ': i % 2 !== 0,
                        'dark:bg-slate-900': i % 2 !== 0,
                    }" class="mat-row">
                </tr>

            </table>
        </div>

        <div class="w-full overflow-auto px-8 py-3 bg-white rounded-xl dark:bg-gray-900">
            <div class="flex items-center justify-between h-16">
                <span class="text-gray-700 dark:text-slate-300 sm:text-lg md:text-xl text-sm font-semibold">
                    អ្នករស់នៅ
                </span>
            </div>
            <mat-tab-group mat-stretch-tabs="true" (selectedTabChange)="onSwitchRenterTab($event)"
                class="w-full flex flex-col border-y-[1px] border-y-common-lighgray mat-tab-flex-grow">

                <mat-tab label="ចូល" class="px-4">
                    <div class="w-full">
                        <div class="list-sale-data border-t w-full scrollable"
                            style="max-height: 800px; overflow-y: auto;">
                            <table mat-table [dataSource]="dataRenterDashboard" class="w-full">
                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="w-[50px] text-center font-medium sticky ">ល.រ</th>
                                    <td mat-cell *matCellDef="let element; let i = index"
                                        class="text-[#64748B] font-normal text-center h-14">{{ i + 1 }}</td>
                                </ng-container>
                                <ng-container matColumnDef="room">
                                    <th mat-header-cell *matHeaderCellDef class="flex-1 font-medium sticky ">បន្ទប់</th>
                                    <td mat-cell *matCellDef="let element">{{ element?.room?.code }}</td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="w-[160px] font-medium sticky ">ឈ្មោះ
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-left text-[#64748B]">{{
                                        element?.renter?.name }}</td>
                                </ng-container>
                                <ng-container matColumnDef="phone">
                                    <th mat-header-cell *matHeaderCellDef class="w-[120px] font-medium sticky ">
                                        លេខទូរស័ព្ទ</th>
                                    <td mat-cell *matCellDef="let element" class="text-left text-[#64748B]">{{
                                        element?.renter?.phone }}</td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-[160px] font-medium  text-center">
                                        ស្ថានភាព</th>
                                    <td mat-cell *matCellDef="let element" class="text-center">{{ element?.room?.status?
                                        'មិនបានកក់' : 'បានកក់' }}</td>
                                </ng-container>

                                <ng-container matColumnDef="bookedPrice">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="w-[100px]   font-medium text-end pr-4 sticky ">ប្រាក់កក់</th>
                                    <td mat-cell *matCellDef="let element" class="text-right">{{
                                        element?.invoices[0]?.paidAmount }} $</td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="w-[160px] font-medium sticky ">
                                        កាលបរិច្ឆេទ</th>
                                    <td mat-cell *matCellDef="let element" class="text-center">{{
                                        element?.invoices[0]?.dueDate }}</td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-12 items-center pr-1 gap-1 sticky ">
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="openRenterDialog(element?.room?.id)">
                                                <mat-icon svgIcon="heroicons_outline:eye"></mat-icon>
                                                <span class="text-lg">មើល</span>
                                            </button>
                                            <button mat-menu-item (click)="deleteRenter(element)">
                                                <mat-icon svgIcon="heroicons_outline:trash" class="text-[#FF0000]">
                                                </mat-icon>
                                                <span class="text-lg text-[#FF0000]">លុប</span>
                                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="renterColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: renterColumns; let i = index" [ngClass]="{
                                    'bg-[#F8FAFC] ': i % 2 !== 0,
                                    'dark:bg-slate-900': i % 2 !== 0
                                }" class="mat-row">
                                </tr>

                            </table>
                        </div>
                    </div>
                </mat-tab>


                <mat-tab label="ចេញ" class="px-4">
                    <div class="w-full">
                        <div class="list-sale-data border-t w-full scrollable"
                            style="max-height: 800px; overflow-y: auto;">
                            <table mat-table [dataSource]="dataRenterDashboard" class="w-full">
                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef
                                        class="w-[50px] text-center font-medium sticky ">ល.រ</th>
                                    <td mat-cell *matCellDef="let element; let i = index"
                                        class="text-[#64748B] font-normal text-center h-14">{{ i + 1 }}</td>
                                </ng-container>
                                <ng-container matColumnDef="room">
                                    <th mat-header-cell *matHeaderCellDef class="flex-1 font-medium sticky ">បន្ទប់</th>
                                    <td mat-cell *matCellDef="let element">{{ element?.room?.code }}</td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="w-[160px] font-medium sticky ">ឈ្មោះ
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-left text-[#64748B]">{{
                                        element?.renter?.name }}</td>
                                </ng-container>
                                <ng-container matColumnDef="phone">
                                    <th mat-header-cell *matHeaderCellDef class="w-[120px] font-medium sticky ">
                                        លេខទូរស័ព្ទ</th>
                                    <td mat-cell *matCellDef="let element" class="text-left text-[#64748B]">{{
                                        element?.renter?.phone }}</td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="w-[160px] font-medium sticky ">
                                        ចាកចេញថ្ងៃ</th>
                                    <td mat-cell *matCellDef="let element" class="text-center">{{
                                        element?.transaction?.checkout }}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="renterColumnsCheckout; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: renterColumnsCheckout; let i = index"
                                    [ngClass]="{
                            'bg-[#F8FAFC] ': i % 2 !== 0,
                        }" class="mat-row">
                                </tr>

                            </table>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>



        </div> -->
