<div class="dialog-container">
    <!-- Header -->
    <div class="dialog-header items-center flex flex-col">
        <div mat-dialog-title class="w-full flex justify-between px-6 items-center border-b border-slate-300 h-15">
            <span class="text-3xl font-medium text-slate-500 w-full">
                កក់បន្ទប់
            </span>
            <button class="helpers-mat-button-sm" [mat-dialog-close]="false" mat-icon-button>
                <mat-icon class="icon-size-6" svgIcon="heroicons_outline:x-mark" />
            </button>
        </div>
    </div>

    <!-- <div>
        <mat-select class="w-[40%] h-full flex gap-2 justify-between cursor-pointer items-center border border-[#CBD5E1]  
            px-2 py-2 rounded-lg min-w-[100px] hover:opacity-[0.96] transition-all bg-gray-100 dark:bg-slate-700" placeholder="តំបន់">
                <mat-option *ngFor="let zone of zones" [value]="zone.value">
                    {{ zone.viewValue }}
                </mat-option>
            </mat-select>
    </div> -->
    <div class="flex flex-col p-4 gap-x-4">

        <!-- updatee new form with mat option -->
        <form [formGroup]="reserveRoomForm" class="flex flex-col cursor-pointer items-center gap-y-4 text-[16px]">

            <!-- selectDay -->
            <mat-form-field formControlName="date"
                class="w-full flex justify-between cursor-pointer items-center dark:bg-slate-700 rounded-lg min-w-[100px]">
                <mat-label>ពេលវេលា</mat-label>
                <mat-select (selectionChange)="checkValue($event.value)">
                    <mat-option *ngFor="let type of dateType" [value]="type.value">
                        {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- dateSelecter -->
            <mat-form-field *ngIf="showDatePicker"
                class="w-full flex justify-between cursor-pointer items-center dark:bg-slate-700 rounded-lg min-w-[100px]">
                <mat-label>ជ្រើសរើសកាលបរិច្ចេទ</mat-label>
                <input matInput [matDatepicker]="picker" [value]="defaultDate" formControlName="customDate" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- Select Zone -->
            <mat-form-field formControlName="zoneName"
                class="w-full flex justify-between cursor-pointer items-center dark:bg-slate-700 rounded-lg min-w-[100px]">
                <mat-label>តំបន់</mat-label>
                <mat-select (selectionChange)="onZoneChange($event.value)">
                    <mat-option *ngFor="let type of zoneType" [value]="type.value">
                        {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="ml-auto py-2 justify-end">
                <button class="bg-blue-600 text-white rounded-xl px-4 py-2" (click)="showAvailableRooms()">
                    ស្វែងរក
                </button>
            </div>
        </form>

        <div *ngIf="!availableRooms && !isLoading">
            <div
                class="flex flex-col justify-center items-center h-full"
            >
                <mat-icon
                    class="text-gray-400"
                    svgIcon="toc"
                ></mat-icon>
                <span class="text-2xl text-gray-500 mt-2"
                    >គ្មានទិន្នន័យ</span
                >
            </div>
        </div>

        <ng-container *ngIf="isLoading">
            <div class="flex flex-col gap-8 justify-center items-center h-full">
                <mat-spinner [diameter]="64" [mode]="'indeterminate'"></mat-spinner>
                <span class="text-slate-500 text-3xl font-semibold">កំពុងទាញយកទិន្នន័យ...</span>
            </div>
        </ng-container>

        <div
            *ngFor="let data of availableRooms" 
            class="text-md dark:bg-gray-900 flex w-full h-[68px] rounded-xl mt-3 justify-between border border-[#CBD5E1] items-center">
            

            <div class="flex flex-row w-[108px] items-center gap-2 pl-3 border-r border-[#CBD5E1]">
                <mat-icon class="icon-size-7 md:icon-size-8" matSuffix svgIcon="mat_outline:door_front"></mat-icon>
                <div class="flex flex-col items-center text-md">
                    <span class="text-md">{{data.code}}</span>
                    <span class="text-md text-[#64748B]">ធម្មតា</span>
                </div>
            </div>

            <div class="flex flex-col items-center w-[180px] border-r border-[#CBD5E1]">
                <div class="flex w-full px-3 justify-between">
                    <span class="text-md">ប្រាក់កក់($)</span>
                    <span class="text-md text-[#64748B]">{{data.bookedPrice}}</span>
                </div>
                <div class="flex w-full px-3 justify-between">
                    <span class="text-md">តំលៃ($/ខែ)</span>
                    <span class="text-md text-[#64748B]">{{data.price}}</span>
                </div>
            </div>

            <div class="flex-1 w-auto items-end flex pl-3 text-[#64748B] justify-between">
                <span class="text-md">ចាប់តាំងពី</span>
                <span class="text-md">{{data.transactions[0]?.freeFrom}}</span>
            </div>

            <div class="items-center pr-1 gap-1">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onSubmit(data)">
                        <mat-icon svgIcon="mat_outline:bookmark"></mat-icon>
                        <span class="text-lg">កក់បន្ទប់</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

</div>