::ng-deep .apexcharts-grid-borders line {
    stroke-dasharray: 0 !important;
}
::ng-deep .apx-chart .apexcharts-title-text {
    margin-right: 10px; /* Adjust spacing between title and legend */
  }
  
  ::ng-deep .apx-chart .apexcharts-legend {
    margin-top: 0; /* Ensure the legend aligns horizontally */
  }