.list-profile-section {
    width: 100%;
    height: calc(100dvh - 4.25rem) !important;
    overflow: hidden;
    z-index: 1;

    .list-profile-body,
    .no-data {
        width: 100%;
        height: calc(100dvh - 7.75rem);
        overflow: hidden;

        .list-profile-content {
            width: 100%;
            margin-bottom: 0.25rem;
            height: calc(100dvh - 11rem); //7.75rem + 1rem + 0.25rem
            overflow: hidden;

            .list-profile-data {
                width: 100%;
                max-height: calc(100dvh - 12rem);
                overflow: auto;
            }
        }
    }
}
