

    <!-- Dialog Title -->
    <div mat-dialog-title class="min-h-14 max-h-14 flex gap-2 justify-between items-center py-2 pl-5 pr-2.5 border-b">
        <div class="flex flex-1 items-center text-slate-500 gap-3 text-center">
            <button 
                 class="helpers-mat-button-sm" 
                 [mat-dialog-close]="false" 
                 mat-icon-button> 
                 <mat-icon 
                     class="icon-size-6" 
                     svgIcon="heroicons_outline:arrow-left"/> 
             </button>
            <h1 class="text-3xl font-medium text-slate-500 w-full">ចាកចេញបន្ទប់ {{moveOutinfo?.moveOut?.room_code}}</h1>
        </div>

        <!-- Print Button -->
        <div class="flex items-center">
            <button mat-icon-button>
            </button>
        </div>

        <!-- Close Button -->
        <div class="flex items-center cursor-pointer pl-2">
            <button mat-icon-button >
            </button>
        </div>
    </div>


    <!-- Main Content -->
    <div class="out-create-body px-4 pb-5">
        <div class="out-create-content pt-4 ">
            <!-- Receipt Number -->
            <div class="flex justify-start items-center gap-2 p-1 w-full bg-gray-50 dark:bg-gray-800 h-[3rem]">
                <div class="flex justify-start items-center gap-2 w-[150px]">
                    <p class="text-lg md:text-xl leading-8">បន្ទប់</p>
                </div>
                <div class="flex justify-start items-center gap-2">
                    <p class="text-lg md:text-xl leading-8">៖</p>
                    <p class="text-lg md:text-xl leading-8 pl-5 text-gray-600">{{moveOutinfo?.moveOut?.code}}</p>
                </div>
            </div>
            <!-- Order Date -->
            <div class="flex justify-start items-center gap-2 p-1 w-full dark:bg-gray-800 h-[3rem]">
                <div class="flex justify-start items-center gap-2 w-[150px]">
                        <p class="text-lg md:text-xl leading-8">ឈ្មោះ</p>
                </div>
                <div class="flex justify-start items-center gap-2">
                    <p class="text-md md:text-lg leading-8">៖</p>
                    <p class="text-md md:text-lg leading-8 pl-5 text-gray-500">
                        {{moveOutinfo?.moveOut?.transactions[0]?.renter?.name}}
                    </p>
                </div>
            </div>

            <!-- Cashier By -->
            <div class="flex justify-start items-center gap-2 p-1 w-full bg-gray-50 dark:bg-gray-800 h-[3rem]">
                <div class="flex justify-start items-center gap-2 w-[150px]">
                    <p class="text-lg md:text-xl leading-8">លេខទូរស័ព្ទ</p>
                </div>
                <div class="flex justify-start items-center gap-2">
                    <p class="text-lg md:text-xl leading-8">៖</p>
                    <div class="text-lg md:text-xl leading-8 text-gray-600">
                        <div class="flex items-center">
                            <span class="ml-3">{{moveOutinfo?.moveOut?.transactions[0]?.renter?.phone}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-start items-center gap-2 p-1 w-full bg-gray-50 dark:bg-gray-800 h-[3rem]">
                <div class="flex justify-start items-center gap-2 w-[150px]">
                    <p class="text-lg md:text-xl leading-8">កាល​បរិច្ចេទ<p>
                </div>
                <div class="flex justify-start items-center gap-2">
                    <p class="text-lg md:text-xl leading-8">៖</p>
                    <div class="text-lg md:text-xl leading-8 text-gray-600">
                        <div class="flex items-center">
                            <span class="ml-3">
                                {{ moveOutinfo?.moveOut?.transactions[0]?.moveIn }} 
                                    <!-- <ng-container *ngIf="isToday, else dateDisplay">(ចូលថ្ងៃដដែល)</ng-container>
                                    <ng-template #dateDisplay> (រស់នៅរយៈពេល
                                        <ng-container *ngIf="year > 0">{{ year }} ឆ្នាំ</ng-container>
                                        <ng-container *ngIf="month > 0 && year > 0 || (year === 0 && month > 0)">{{ month }} ខែ</ng-container>
                                        <ng-container *ngIf="day > 0 && (year > 0 || month > 0) || (year === 0 && month === 0 && day > 0)">
                                            {{ day }} ថ្ងៃ)
                                        </ng-container>
                                    </ng-template> -->
                              </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- data product -->
            <div class="max-w-[525px] overflow-x-hidden mt-3 text-gray-600">
                <table mat-table class="min-w-full">

                    <!-- Number Column -->
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef class="w-4">ល.រ</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <span>{{ i + 1 }}.</span>
                        </td>
                    </ng-container>

                    <!-- Product Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="min-w-[180px] ">ផលិតផល</th>
                        <td mat-cell *matCellDef="let element" class="items-start">
                            <div class="flex gap-2 justify-start items-center">
                                <img class="w-10 h-10" alt="image" [src]="fileUrl +  element.product.image">
                                <div class="flex flex-col">
                                    <span class="text-lg">{{ element.product.name }}</span>
                                    <span class="text-sm">{{ element.product.code }} | {{ element.product.type.name
                                        }}</span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Table Rows -->
                </table>
            </div>

        </div>
    </div>


<div>
    <form
      class="flex flex-col md-form-field-appearance-outline p-4"
      [formGroup]="moveOutForm">

            <mat-form-field class="w-full thick-border">
                <mat-label>កាលបរិច្ឆេទចាកចេញ</mat-label>
                <input matInput [matDatepicker]="picker"
                    formControlName="moveOutDate"
                    #dateField/>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-error *ngIf="moveOutForm.get('moveOUtDate')?.hasError('required')">
                    សូមបញ្ចូលថ្ងៃចាកចេញ
                </mat-error>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
  

        
            <!-- <mat-form-field class="w-full thick-border">
                <mat-label>មតិយោបល់</mat-label>
                <input matInput
                    formControlName="moveOutNote" type="textArea"/>
            </mat-form-field> -->

            <div class="ml-auto py-2 justify-end">
                <button class="bg-blue-600 text-white rounded-xl px-4 py-2 disabled:bg-slate-400 disabled:cursor-not-allowed"
                    (click)="onSubmit()" 
                    [disabled]="!moveOutForm.valid">
                    ចាកចេញ
                </button>
            </div>
        </form>
  </div>

