::ng-deep .side-dialog {
    .mat-mdc-dialog-surface.mdc-dialog__surface {
        border-radius: 0 !important;
        padding: 0px;
        
        .mat-mdc-dialog-component-host{
            .mat-mdc-dialog-title {
                padding-right: 8px;
            }
        }
    }
  }
  
  .mat-mdc-dialog-content.mdc-dialog__content{
    min-height: calc(100vh - 56px) !important;
  }
  