    <div mat-dialog-title class="min-h-14 max-h-14 flex gap-2 justify-between items-center py-2 pl-5 pr-2.5 border-b">
        <div class="flex flex-1 items-center justify-center text-slate-500 gap-3 text-center">
            <button 
                 class="helpers-mat-button-sm" 
                 [mat-dialog-close]="false" 
                 mat-icon-button> 
                 <mat-icon 
                     class="icon-size-6" 
                     svgIcon="heroicons_outline:arrow-left"/> 
             </button>
            <h1 class="text-3xl font-medium text-slate-500 w-full">ទូទាត់​ វិក្ក័យប័ត្រ #{{data?.id}}</h1>
        </div>

        <div class="flex items-center cursor-pointer pl-2">
            <button 
                 class="helpers-mat-button-sm" 
                 [mat-dialog-close]="false" 
                 mat-icon-button> 
                 <mat-icon 
                     class="icon-size-6" 
                     svgIcon="heroicons_outline:x-mark"/> 
             </button>
        </div>
    </div>


    <div>
        <div class="out-create-body px-4 pb-5">
            <div class="out-create-content pt-4 ">

                <div class="flex justify-start items-center gap-2 p-1 w-full bg-gray-50 dark:bg-gray-800 h-[3rem]">
                    <div class="flex justify-start items-center gap-2 w-[150px]">
                        <p class="text-lg md:text-xl leading-8 pl-3">បន្ទប់</p>
                    </div>
                    <div class="flex justify-start items-center gap-2">
                        <p class="text-lg md:text-xl leading-8">៖</p>
                        <p class="text-lg md:text-xl leading-8 text-[#64748B]">{{invoiceDetail?.data?.room?.code}}</p>
                    </div>
                </div>
                <div class="flex justify-start items-center gap-2 p-1 w-full dark:bg-gray-800 h-[3rem]">
                    <div class="flex justify-start items-center gap-2 w-[150px]">
                        <p class="text-lg md:text-xl leading-8 pl-3">អ្នកជួល</p>
                    </div>
                    <div class="flex justify-start items-center gap-2">
                        <p class="text-md md:text-lg leading-8">៖</p>
                            <img class="border border-blue-200 min-w-8 max-w-8 min-h-8 max-h-8 object-cover rounded-full" 
                                [src]="fileUrl + invoiceDetail?.data?.renter?.avatar"
                                alt="profile">
                            <p class="text-md md:text-lg leading-8 text-gray-500">{{invoiceDetail?.data?.renter?.name}}</p>
                    </div>
                </div>

                <div class="flex justify-start items-center gap-2 p-1 w-full bg-gray-50 dark:bg-gray-800 h-[3rem]">
                    <div class="flex justify-start items-center gap-2 w-[150px]">
                        <p class="text-lg md:text-xl leading-8 pl-3">លេខទូរស៍ព្ទ</p>
                    </div>
                    <div class="flex justify-start items-center gap-2">
                        <p class="text-lg md:text-xl leading-8">៖</p>
                        <div class="text-lg md:text-xl leading-8 text-gray-600">
                            <div class="flex items-center">
                                <span class="text-[#64748B]">{{invoiceDetail?.data?.renter?.phone}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-start items-center gap-2 p-1 w-full bg-gray-50 dark:bg-gray-800 h-[3rem]">
                    <div class="flex justify-start items-center gap-2 w-[150px]">
                        <p class="text-lg md:text-xl leading-8 pl-3">ស្ថានភាព</p>
                    </div>
                    <div class="flex justify-start items-center gap-2">
                        <p class="text-lg md:text-xl leading-8">៖</p>
                        <div class="text-lg md:text-xl leading-8 text-gray-600">
                            <div class="flex items-center">
                                <span 
                                    [ngClass]="{
                                        'text-orange-500': invoiceDetail?.data?.invoice?.invoice_status === 'កំពុងរង់ចាំ',
                                        'text-green-500': invoiceDetail?.data?.invoice?.invoice_status === 'បានទូទាត់'
                                    }">
                                    {{invoiceDetail?.data?.invoice?.invoice_status}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <!-- if no data -->

        <!-- <div *ngIf="invoiceDetail?.data[0]?.invoice_details.length === 0">
            <div
                class="flex flex-col justify-center items-center h-full"
            >
                <mat-icon
                    class="text-gray-400"
                    svgIcon="toc"
                ></mat-icon>
                <span class="text-2xl text-gray-500 mt-2"
                    >គ្មានទិន្នន័យ</span
                >
            </div>
        </div> -->

        <div class="p-4">
            <table class="min-w-full mt-4">
                <thead class=" text-left">
                  <tr class="h-[56px] border-t border-[#CBD5E1]">
                    <th class="px-4 py-2">បរិយាយ</th>
                    <th class="px-4 py-2 text-right">បរិមាន</th>
                    <th class="px-4 py-2 text-right">តម្លៃបរិមាន</th>
                    <th class="px-4 py-2 text-right">ទឹកប្រាក់ ($)</th>
                    <th class="px-4 py-2 text-right">ទឹកប្រាក់ (៛)</th>
                  </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let detail of invoiceDetail?.data?.invoice_details; let i = index"
                        [ngClass]="{
                            'bg-[#1E293B0D]': i % 2 === 0,
                            'bg-[#ffffff]': i % 2 !== 0}"
                            class="text-[#64748B]">
            
                            <td class="px-4 py-2">{{ detail?.name }}</td>
                            <td class="px-4 py-2 text-right">{{ detail?.quantity }}</td>
                            <td class="px-4 py-2 text-right">{{ detail?.price | number:'1.0-0' }}</td>
                            <!-- <td class="px-4 py-2 text-right">
                                {{ detail?.price_unit_id === '$' ? (detail?.total_price | number:'1.0-0') : 0 }}
                            </td>
                            <td class="px-4 py-2 text-right">
                                {{ detail?.price_unit_id === '៛' ? (detail?.total_price | number:'1.0-0') : 0 }}
                            </td> -->
                            <td class="px-4 py-2 text-right">
                                <!-- Check if price_unit is '$' and show total_price for dollars -->
                                {{ detail?.price_unit === '$' ? (detail?.total_price | number:'1.0-0') : 0 }}
                            </td>
                            <td class="px-4 py-2 text-right">
                                <!-- Check if price_unit is '៛' and show total_price for riels -->
                                {{ detail?.price_unit === '៛' ? (detail?.total_price | number:'1.0-0') : 0 }}
                            </td>

                        </tr>

                </tbody>
                  
            </table>
        </div>

        <div class="flex flex-col ml-auto gap-y-2 justify-end items-end">
            <div class="pr-5">
                <p> សរុប ៖ {{invoiceDetail?.data?.invoice?.total_price_khr | number:'1.0-0'}}  ៛</p> 
            </div>
            <div class="pr-5">
                {{ invoiceDetail?.data?.invoice?.total_price_usd | number:'1.0-0'}} $
            </div>

            <div class="pr-5">
                <button class="bg-blue-600 text-white rounded-xl px-4 py-2"
                    (click)="invoiceCheckout()"
                    >
                    ទូទាត់
                </button>
            </div>
        </div>

    <!-- </div> -->


        <!-- <div *ngFor="let invoice of invoicePrice; let i = index" 
        [ngClass]="{ 
          'bg-white': i % 2 === 0, 
          'bg-gray-100': i % 2 !== 0 
        }">
      <p class="px-4 py-2 border">{{ invoice.id }}</p>
      <p class="px-4 py-2 border">{{ invoice.inv_no }}</p>
      <p class="px-4 py-2 border">{{ invoice.amount_in_khr }}</p>
      <p class="px-4 py-2 border">{{ invoice.amount_in_usd }}</p>
      <p class="px-4 py-2 border">{{ invoice.paid }}</p>
      <p class="px-4 py-2 border">{{ invoice.due_date | date:'yyyy-MM-dd' }}</p>
      <p class="px-4 py-2 border">{{ invoice.type }}</p>
    </div> -->
<!-- user-list.component.html -->
